*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    }
.form-register{
    width: 400px;
    background: #af9696;
    padding: 30px;
    margin:auto;
    margin-top: 100px;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    box-shadow: 7px 13px 37px #222121;
}    
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background:#fff7f8 ;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #112e42;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    color: rgb(20, 19, 19);


}


.form-register p {
    height: 40px;
    text-align: left;
    font-size: 15px;
}

.form-register a {
    color:#081b29;
    

}

.form-register a :hover{
    color: white;
    text-decoration: underline;

}
.form-register .botons{
    width: 100%;
    background-color: rgb(255, 255, 255);
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    color: black;
    


}

.form-register .botons1{
    width: 100%;
    background-color: rgb(81, 83, 86);
    border: none;
    padding: 12px;
    margin: 16px 0;
    font-size: 16px;
    color: rgb(255, 249, 249);
    


}


body{
    background-color:#081b29;
}

header{
    background: white;
  width: 100%;
  position: relative;
  z-index: 100;
}

nav {
    width: 100%;
  }
  
  nav ul {
    width: 70%;
    list-style: none;
    overflow: hidden; 
    float: left;
  }
  
  nav ul li {
    float: left;
    font-size: 16px;
  }
  nav ul li a {
    display: block;
    padding: 10px 50px 10px 50px;
    color: #ffffff;
    text-decoration: none;
  }
  nav ul li form {
    display: block;
    padding: 10px 50px 10px 50px;
    color: #d4d4d4;
    text-decoration: none;
  }
  nav ul li:hover {
    background: #112e42;
  }
  hr{
    color: white;
  }